<footer id="ft" class="side-dots">
  <div>
    <div class="grid-container">
      <div class="grid-20 prefix-5">
        <ul>
          <li><a href="index.html"{{{selectedClass "home"}}}>Home</a></li>
          <li><a href="services.html"{{{selectedClass "services"}}}>Services</a></li>
          <li><a href="clients.html"{{{selectedClass "clients"}}}>Clients</a></li>
          <li><a href="testimonials.html"{{{selectedClass "testimonials"}}}>Testimonials</a></li>
        </ul>
      </div>
      <div class="grid-20 suffix-10">
        <ul>
          <li><a href="news.html"{{{selectedClass "news"}}}>News</a></li>
          <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
          <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
          <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
        </ul>
      </div>
      <div class="grid-40 suffix-5 links">
        <a href="#" title="Care Quality Commission"><img src="img/logo-care-quality-commission.jpg" alt="Care Quality Commission logo"/></a>
        <a href="#" title="UKHCA"><img src="img/logo-ukhca.jpg" alt="UKHCA logo"/></a>
        <small>
          Care Response is the trading name of<br/>
          Care Response Ltd (CN 06161098) Reg Office:<br/>
          5/7 High Street Sunninghill Berkshire SL5 9NQ.<br/>
          &copy; 2013
        </small>
      </div>
    </div><!--/.grid-container-->
  </div>
</footer>